.select-compress-model {
  width: 60%;
  select {
    max-width: 100%;
    white-space: normal;
  }
}

.model-selector-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.refresh-models-button {
  margin-left: 8px;
  background: none;
  color: var(--primary);
  border: none;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  padding: 0;

  &:hover {
    color: var(--primary-hover);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
